[Unit]
Description=Open Charge Network Client
After=network-online.target

[Service]
Type=simple
User=<USER>
WorkingDirectory=/home/<USER>/ocn-client
ExecStart=/usr/bin/java -jar -Dspring.config.location=/home/<USER>/ocn-client/application.properties /home/<USER>/ocn-client/build/libs/ocn-client-0.1.0-SNAPSHOT.jar
Restart=on-failure

[Install]
WantedBy=multi-user.target