[Unit]
Description=Open Charging Network Node
After=network-online.target

[Service]
Type=simple
User=<USER>
WorkingDirectory=/home/<USER>/ocn-node-1.1.2
ExecStart=/usr/bin/java -jar -Dspring.config.location=application.dev.properties ocn-node-1.1.2
Restart=on-failure

[Install]
WantedBy=multi-user.target
